.detail-content {

    display: flex;
    flex-direction: column;
    align-items: center;


    .title-detail {
        font-size: 2em;
        text-align: center;
        color: white;
    }

    .image-detail {

        display: flex;
        flex-direction: row;
        width: 90%;
        align-items: center;
        
        img {
            border: 2px solid black;
        }

        p {
            font-size: 1.1em;
            font-weight: 600;
            color: white;
            padding-left: 10px;
        }

        Button {
            margin-left: 10px;
        }
    }
}