.home-container {

    background-image: url(../../image/fondo.jpg);
    background-position: center;
    background-size: cover;

    width: 100%;
    height: 90vh;

    .greeting {

        font-size: 3em;
        text-align: center;
    
    }

    .item-container{
        
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 5px;
    }

    
}
