.home-container {

    background-image: url(../../image/fondo.jpg);
    background-position: center;
    background-size: cover;

    width: 100%;
    height: 90vh;

    .greeting {

        font-size: 3em;
        text-align: center;
    
    }

    
}
