@import '~bootstrap/scss/bootstrap.scss';
@import './Containers/Home/home.scss';
@import './Containers/NavBar/Icon.scss';
@import './Containers//ItemDetailContainer/ItemDetailContainer.scss';
@import './Components/Item/item.scss';

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}